@{
    ViewData["Title"] = "Minerva Cloud";
}

<div class="text-center">
    <h1 class="display-4">Site build in progress..</h1>
    <p>This is non secure page of test site. This UI will be replaced by React front end.</p>
</div>
